name: Python Tests

on:
  push:
    branches:
      - main  # Запуск тестов при пуше в ветку main
  pull_request:
    branches:
      - main  # Запуск тестов при создании pull request в main

jobs:
  test:
    runs-on: ubuntu-latest  # Используем последнюю версию Ubuntu

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2  # Клонируем репозиторий

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.12'  # Указываем нужную версию Python (например, 3.8)

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest  # Устанавливаем pytest для запуска тестов

      - name: Run tests for 1_prac
        run: |
          pytest tests/test_1_prac.py  # Запускаем тесты для 1_prac
